/* Home Product */
.home-product {
	padding: 25px 0;
	width: 100%;

	.nqd-banner-left {
		width: 100%;
		border-radius: 6px;
		overflow: hidden;

		.nqd-banner-image {
			cursor: pointer;
		}
	}
	.nqd-info-right {
		.nqd-heading {
			font-size: 1.8rem;
			font-weight: 600;
			font-family: var(--secondary-font);
			color: var(--color-text);
			text-transform: uppercase;
		}
		.nqd-desc {
			color: var(--text-light);
			font-size: 1.2rem;
			font-family: var(--primary-font);
		}
	}

	.nqd-view-all {
		padding: 8px 25px;
		color: var(--text-light);
		background-color: var(--white);
		border: 1px solid rgba(0, 0, 0, 0.1);
		border-radius: 50px;
		font-weight: 600;
		text-transform: capitalize;
		font-size: 1.2rem;
		outline: none;

		svg {
			font-size: 2rem;
			margin-left: 10px;
		}
	}
}
