.header {
	border-bottom: 1px solid rgba(0, 0, 0, 0.1);

	.header-top {
		padding: 8px 0px;

		p {
			color: var(--white);
			font-size: 1.2rem;
			font-weight: 500;
		}
	}
	.header-bottom {
		width: 100%;
		height: auto;
		padding: 25px 0px;

		.nqd-logo {
			width: 100%;
		}
	}
}

.bg-blue {
	background-color: var(--primary-color);
}

@media (min-width: 1300px) {
	.container,
	.container-lg,
	.container-md,
	.container-sm,
	.container-xl {
		max-width: 1200px;
	}
}
